<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.zyz.WuLiaoChat.push">

    <!-- 网络相关的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- 读取存储权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 写存储权限，OSS需要 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="android.zyz.WuLiaoChat.push.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 个推的广播注册 -->
        <receiver
            android:name="android.zyz.WuLiaoChat.push.MessageReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="1000">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>

        <activity
            android:name="android.zyz.WuLiaoChat.push.LaunchActivity"
            android:label="@string/title_activity_launch"
            android:theme="@style/AppTheme.TransStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="android.zyz.WuLiaoChat.push.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Main" />
        <activity
            android:name="android.zyz.WuLiaoChat.push.activities.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Account" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name="android.zyz.WuLiaoChat.push.activities.UserActivity"
            android:label="@string/title_activity_user"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Account" />
        <activity
            android:name="android.zyz.WuLiaoChat.push.activities.SearchActivity"
            android:label="@string/title_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name="android.zyz.WuLiaoChat.push.activities.MessageActivity"
            android:label="@string/title_activity_message"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Message"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="android.zyz.WuLiaoChat.push.activities.PersonalActivity"
            android:label="@string/title_activity_personal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />
        <activity
            android:name="android.zyz.WuLiaoChat.push.activities.GroupCreateActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Group.Create" />
        <activity
            android:name="android.zyz.WuLiaoChat.push.activities.GroupMemberActivity"
            android:label="@string/title_member_list"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />
    </application>

</manifest>